.mb-10px {
    margin-bottom: 10px;
}

input,
textarea,
select {
    padding: 7px 15px;
    width: 360px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.card {
    padding: 10px 15px;
    width: 400px;
    border: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: -2px 2px 8px 0px #0000002b;
}

.radius-10px {
    border-radius: 10px;
}

table {
    border-spacing: 0px;
    border: 1px solid black;
}

table tr,
table td {
    border: 1px solid black;
    padding: 10px;
    margin: 0px;
}
